* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4 {
  margin-bottom: 10px;
}

a {
  text-decoration: none;
}

.wrapper {
  max-width: 1200px;
  width: 97%;
  margin: 0 auto;
}

.row {
  margin-bottom: 2em;
}

.accessiblity-tool {
  position: fixed;
  bottom: 20px;
  right: 20px;
  /* background-color: #1fa392; */
}

.accessiblity-tool a {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #27a4ec;
  color: #fff;
  display: block;
  width: 50px;
  height: 50px;
  font-size: 45px;
  border-radius: 50%;
  text-align: center;
}

.control {
  margin-bottom: 1em;
}

[class*=col] {
  margin-left: 4%;
}

.control {
  display: flex;
}

.control>div {
  border: 1px solid #e3e3e3;
  padding: 0.5em 0.2em;
}

.control button {
  background-color: #fff;
  border: none;
  padding: 0.5em;
  /* font-size: 1.2em; */
  cursor: pointer;
  background-color: #146ff8;
  color: #fff;
  border-radius: 50%;
  margin: 5px;
}

.col-3 {
  flex: 0 0 68%;
}

.col-1 {
  flex: 0 0 20%;
}

.desc {
  margin-bottom: 0.5em;
}

.control>div.active {
  border: 2px solid #000;
}

.head {
  position: relative;
}

.pop-up {
  position: absolute;
  background-color: rgb(78, 72, 72);
  color: #fff;
  padding: 0.5em 0.2em;
  border-radius: 2px;
  font-size: 25px;
}

/* 

[class*=color-select] {
  margin-bottom: 1em;
}

[class*=color-select] span {
  width: 20px;
  height: 20px;
  margin: 5px;
  display: inline-block;
  border: 1px solid #e3e3e3;
  cursor: pointer;
  -webkit-user-select: initial;
  user-select: initial;
}

[class*=color-select] span:focus {
  border: 10px solid #e3e3e3;
}

[class*=color-select] .active {
  border: 2px solid #000;
  padding: 5px;
  outline: 2px;
}

.contrast-select {
  display: flex;
  margin-bottom: 0.5em;
}

.contrast-select>div {
  margin-left: 4%;
  flex: 0 0 28%;
  border: 1px solid #e3e3e3;
  padding: 0.5em;
}

.contrast-icon {
  margin-bottom: 0.5em;
}

.contrast-select>div.active {
  border: 2px solid #000;
} */